<h1>Users</h1>
<?php
 if(empty($users)):
 
?>
There are no users
<?php
else:
?>
<table>
<tr><th>UserId</th>
<th>Name</th>
<th>Date Of Birth</th>
<th>Mobile</th>
</tr>
<?php foreach($users as $user):
?>
<tr><td><?php
 echo $user->id;?>
 </td>
 <td>
 <?php
 echo $user->name;?>
 </td>
 <td><?php
 echo $user->dob;?>
 </td>
 <td><?php
 echo $user->mobile;?>
 </td>
  </tr>
  <?php endforeach; ?>
  </table>
  <?php endif; ?>

  